.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 20px;
  button {
    width: 35px;
    height: 35px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: black;
    border-color: #eee;
  }
  .active {
    font-weight: 900;
    border-color: #101010;
    background: black;
    color: white;
  }
}

.arrow {
  font-size: 30px;
  cursor: pointer;
}
