.grid__wrapper {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}
.grid__content {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.game {
  display: flex;
  border: 1px solid var(--border-color);
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .grid__content {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .grid__content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
