.detailsPage__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
}
.image {
  img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
  }
}

.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  span {
    margin-left: 10px;
  }
}
.comments__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.719);
    font-size: 16px;
    padding: 5px;
  }
}
.comment__input {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  button {
    background-color: #20a3d8;
    color: white;
    width: 8rem;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
}

.comments {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .comments__container {
    width: 100%;
  }
  .card__container {
    width: 100%;
  }
}
