.home__wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  padding: 2rem;
}

.info__card {
  display: flex;
  flex-direction: column;

  background-color: rgb(0, 0, 0, 0.4);
  gap: 2rem;
  padding: 2rem;
  img {
    width: 8rem;
  }
  p {
    font-size: 25px;
    font-weight: 600;
  }
  button {
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: rgb(46, 11, 50);
    background: linear-gradient(
      90deg,
      rgba(46, 11, 50, 1) 9%,
      rgba(86, 2, 158, 0.7231092266007966) 100%
    );
  }
}
