.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 20rem;
  overflow: clip;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
  transition: top ease 0.5s;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
  }
  &:hover {
    top: -5px;
  }
}

.card__info {
  z-index: 9;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  gap: 10px;
}
.info__title {
  font-size: 16px;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.info__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  padding: 1.5rem;
}
.likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.single__card {
  width: 50%;
  img {
    max-height: 20rem;
  }
  &:hover {
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .single__card {
    width: 100%;
  }
}
